<div class="stepper">
    <div class="stepper__header">
        <div class="stepper__step stepper__step--active">
            <span class="stepper__icon"></span>
            <span class="stepper__label">Início</span>
        </div>
        <div class="stepper__line"></div>
        <div class="stepper__step">
            <span class="stepper__icon"></span>
            <span class="stepper__label">Documentos</span>
        </div>
        <div class="stepper__line"></div>
        <div class="stepper__step">
            <span class="stepper__icon"></span>
            <span class="stepper__label">Dados cadastrais</span>
        </div>
        <div class="stepper__line"></div>
        <div class="stepper__step">
            <span class="stepper__icon"></span>
            <span class="stepper__label">Admissão</span>
        </div>
    </div>
</div>
