@import 'src/app/core/styles/_colors.scss';

.stepper {
    gap: 16px;
    max-width: 600px;
    margin: 30px 0 30px 100px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 8px;
    }

    &__step {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        &--active .stepper__icon {
            background-color: $primary-color;
            color: white;
        }

        &--completed .stepper__icon {
            background-color: #198754;
            color: white;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ddd;
        font-weight: bold;
    }

    &__label {
        font-size: 0.9rem;
    }

    &__line {
        flex-grow: 1;
        height: 2px;
        background-color: #ddd;
        margin-bottom: 22px;
    }

    &__actions {
        display: flex;
        gap: 8px;
        justify-content: center;
    }

    @media (max-width: 599px) {
        max-width: 100%;
        padding: 0 10px;
        margin: 20px auto;

        &__header {
            flex-direction: column;
            align-items: center;
            gap: 4px;
        }

        &__label {
            font-size: 0.8rem;
        }

        &__icon {
            width: 24px;
            height: 24px;
        }
    }

    @media (min-width: 600px) and (max-width: 959px) {
        max-width: 80%;
        margin: 25px 0 0 0;

        &__header {
            gap: 6px;
        }

        &__icon {
            width: 22px;
            height: 22px;
        }
    }

    @media (min-width: 960px) and (max-width: 1279px) {
        max-width: 70%;
        margin: 30px 0;

        &__header {
            gap: 8px;
        }

        &__icon {
            width: 20px;
            height: 20px;
        }
    }
}
