<mat-toolbar class="header mat-elevation-z4">
    <div class="header__info">
        <h2 class="header__info-title">{{ title }}</h2>
        <small class="header__info-subtitle">{{ subtitle }}</small>
    </div>

    <div class="header__notification">
        <span class="header__notification-icon">
            <i class="material-icons"> notifications_none </i>
        </span>

        <span class="header__notification-viacredi"> VIACREDI </span>

        <span class="header__notification-image">
            <img
                src="https://media.licdn.com/dms/image/v2/C4E03AQFtEzmroRVkJg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1645931016764?e=1753315200&v=beta&t=4p4br6nsoiGXW-j1eFwkGkz_oHTciN8f9R3vMK7igYc"
                alt="logo"
            />
        </span>
    </div>
</mat-toolbar>
