<div class="home-container">
    <mat-card class="welcome">
        <mat-card-header class="welcome__header">
            <mat-card-title class="welcome__header-title">Desafio de angular</mat-card-title>
            <mat-card-subtitle class="welcome__header-subtitle">Cooperativa Central Ailos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="welcome__content">
            <p>
                Esta é a página inicial do desafio de Angular proposto pela Cooperativa Central Ailos. O projeto foi
                desenvolvido utilizando Angular 17 e tem como objetivo demonstrar habilidades em desenvolvimento
                front-end. O layout é responsivo e foi projetado para ser intuitivo e fácil de usar. O design é limpo e
                moderno, com uma paleta de cores agradável.
            </p>
        </mat-card-content>
    </mat-card>
</div>
