<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
        <span class="logo-group">
            <a routerLink="/">
                <img
                    class="logo"
                    src="https://play-lh.googleusercontent.com/oCqylJAk6MhXjkDZtP7ykXcAu8wXQwTcqlEJ4NjCSSMdW4qthCQxqYk2u1jR2bw-fjA=w240-h480-rw"
                    alt="logo"
                />
            </a>
        </span>
        <mat-nav-list class="nav-list">
            <!-- view_headline -->
            <a mat-list-item routerLink="/home">
                <i class="material-icons"> home </i>
            </a>
            <a mat-list-item routerLink="/novo-cooperado">
                <i class="material-icons"> search </i>
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons"> star_border </i>
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons"> chat_bubble_outline </i>
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons"> blur_linear </i>
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons"> account_balance </i>
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
